#--------------------------------------------------------------------
# Example Environment Configuration file
#--------------------------------------------------------------------
# This file serves as a template for your .env file.
# Copy this to .env and fill in the details for your environment.
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

# App Settings
app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false

# Database Settings
database.default.hostname = localhost
database.default.database = your_database_name
database.default.username = your_username
database.default.password = your_password
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

# Encryption Settings (Generate with: php spark key:generate)
encryption.key = 
